---
layout: default
title: "Zefiros Events"
---

	{% include main-image.html %}

  {% include welcome.html %}

{% comment %}

  {% include portfolio.html %}
  {% endcomment %}

	{% include services.html %}

  {% include blog-posts.html %}

  {% comment %}
  {% include clients.html %}

  {% include call-to-action.html %}
  {% endcomment %}

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/masonry.pkgd.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/imagesloaded.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/AnimOnScroll.js" | prepend: site.baseurl }}"></script>
