---
layout: default
---

<!-- MAIN IMAGE SECTION -->
<div id="serviceswrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Beautiful times...<br/>
					all times
				</h2>
			</div>
		</div><!-- row -->
	</div><!-- /container -->
</div><!-- /headerwrap -->

    <!-- PORTFOLIO SECTION -->
    <div id="portfolio">
    	<div class="container"
	    	<div class="row mt">
				<ul class="grid effect-2" id="grid">
					{% for image in site.static_files %}
				    {% if image.path contains 'gallery' %}
				        <li><img src="{{ site.baseurl }}{{ image.path }}" alt="image" /></li>
				    {% endif %}
					{% endfor %}
				</ul>
	    	</div><!-- row -->
	    </div><!-- container -->
    </div><!-- portfolio -->

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/masonry.pkgd.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/imagesloaded.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/AnimOnScroll.js" | prepend: site.baseurl }}"></script>
	<script>
		new AnimOnScroll( document.getElementById( 'grid' ), {
			minDuration : 0.4,
			maxDuration : 0.7,
			viewportFactor : 0.2
		} );
	</script>
  </body>
</html>
