<!-- BLOG POSTS -->
<div class="container">
  <div class="row mt">
    <div class="col-lg-12">
      <h1>To blog μας</h1>
    </div><!-- col-lg-12 -->
    <div class="col-lg-8">
      <p>Τα νέα μας, οι σκέψεις μας, αυτά που θέλουμε να μοιραστούμε μαζί σας...</p>
    </div><!-- col-lg-8-->
    <div class="col-lg-4 goright">
      <!-- <p><a href="#"><i class="fa fa-angle-right"></i> Δείτε όλες τις αναρτήσεις</a></p> -->
    </div>
  </div><!-- row -->

  <div class="row mt">
    {% for post in site.posts %}
    <div class="col-lg-4">
      <img class="img-responsive" src="{{ post.img }}" alt="">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.excerpt }}</p>
      <p><a href="{{ post.url }}"><i class="fa fa-link"></i> Περισσότερα</a></p>
    </div>

    {% endfor %}
  </div><!-- row -->
</div><!-- container -->
