<!-- CALL TO ACTION -->
<div id="call">
  <div class="container">
    <div class="row">
      <h3>THIS IS A CALL TO ACTION AREA</h3>
      <div class="col-lg-8 col-lg-offset-2">
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        <p><button type="button" class="btn btn-green btn-lg">Call To Action Button</button></p>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- Call to action -->
