<hr>
<div class="container">
  <div class="row mt">
    <div class="col-lg-12">
      <h1>Stay Connected</h1>
      <p>Ελάτε στην παρέα μας στα Social Media για να μαθαίνετε πρώτοι τα νέα μας</p>
      <br>
    </div><!-- col-lg-12 -->
  </div><!-- row -->
</div><!-- container -->

<!-- SOCIAL SECTION -->
<div id="sf">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 dg">
        <h4 class="ml">FACEBOOK</h4>
        <p class="centered"><a href="https://www.facebook.com/zefiroscafebar/"><i class="fa fa-facebook"></i></a></p>
        <p class="ml">> Like us</p>
      </div>
      <div class="col-lg-4 lg">
        <h4 class="ml">TWITTER</h4>
        <p class="centered"><a href="https://twitter.com/zefiroscafe"><i class="fa fa-twitter"></i></a></p>
        <p class="ml">> Follow Us</p>
      </div>
      <div class="col-lg-4 dg">
        <h4 class="ml">GOOGLE +</h4>
        <p class="centered"><a href="https://www.instagram.com/zefiros_cafe_bar/"><i class="fa fa-instagram"></i></a></p>
        <p class="ml">> Follow Us</p>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- Social Footer -->

<section id="contact"></section>
<!-- CONTACT FOOTER --->
<div id="cf">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div id="mapwrap">
          <iframe height="400" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3121.2074681390272!2d23.627706850404753!3d38.528985476081594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a13dadc90ffd77%3A0xbec5444c349fc8d2!2zzpbOlc6mzqXOoc6fzqM!5e0!3m2!1sel!2sgr!4v1459799598436"></iframe>
        </div>
      </div><!--col-lg-8-->
      <div class="col-lg-4">
        <h4>ΔΙΕΥΘΥΝΣΗ</h4>
        <p>
          Ακτή Βολέρι, Νέα Αρτάκη,<br/>
          Εύβοια, Ελλάδα.
        </p>
        <p>
          <i class="fa fa-phone"> </i> (+30) 2221043375<br/>
        </p>
        <hr>
        <h4>ΥΠΕΥΘΥΝΗ ΔΕΞΙΩΣΕΩΝ</h4>
        <p>
          Γιαπουτζή Ευαγγελία
        </p>
        <p>
          <i class="fa fa-mobile"> </i> (+30) 6947007676<br/>
        </p>
        <hr>
        <p>
          <i class="fa fa-envelope"></i> <a href="mailto:info@zefirosevents.gr">info@zefirosevents.gr</a>
        </p>
      </div><!--col-lg-4-->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- Contact Footer -->


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/masonry.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/imagesloaded.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/AnimOnScroll.js" | prepend: site.baseurl }}"></script>
<script>
  new AnimOnScroll( document.getElementById( 'grid' ), {
    minDuration : 0.4,
    maxDuration : 0.7,
    viewportFactor : 0.2
  } );
</script>
