<!-- Menu -->
<nav class="menu" id="theMenu">
  <div class="menu-wrap">
    <h1 class="logo"><a href="/">ZEFIROS</a></h1>
    <i class="fa fa-arrow-right menu-close"></i>
    <a href="/">Αρχικη</a>
    <a href="/services">Υπηρεσιες</a>
    <a href="/gallery">Gallery</a>
    <!-- <a href="about.html">Λιγα λογια</a> -->
    <a href="#contact">επικοινωνια</a>
    <a href="https://www.facebook.com/zefiroscafebar/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/zefiroscafe"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/zefiros_cafe_bar/"><i class="fa fa-instagram"></i></a>
    <a href="mailto:info@zefirosevents.gr"><i class="fa fa-envelope"></i></a>
  </div>

  <!-- Menu button -->
  <div id="menuToggle"><i class="fa fa-bars"></i></div>
</nav>
