<!-- SERVICES SECTION -->
<div id="services">
  <div class="container   text-justify">
    <div class="row mt">
      <div class="col-sm-1 centered">
        <i class="fa fa-coffee"></i>
      </div>
      <div class="col-sm-5">
        <h3>Cafe Bar</h3>
        <p>Ένας ξεχωριστός χώρος τοποθετημένος σε μια μαγευτική παραλία, λίγα μόλις λεπτά μακριά από το κέντρο της Χαλκίδας, υπόσχεται να σας χαρίσει απίστευτες στιγμές χαλάρωσης παρέα με εξαιρετικές ποικιλίες καφέ, απολαυστικά γλυκά και παγωτά και δροσιστικά κοκτέιλ.</p>
      </div>

      <div class="col-sm-1 centered">
        <i class="fa fa-cutlery"></i>
      </div>
      <div class="col-sm-5">
        <h3>Εστιατόριο</h3>
        <p>Σε ένα φωτεινό και ευχάριστο χώρο, με προτεραιότητα στην υψηλή ποιότητα των υλικών, σας καλούμε να δοκιμάσετε απολαυστικές γεύσεις ελληνικής και διεθνούς κουζίνας.</p>
      </div>

    </div>
    <div class = "row mt">

      <div class="col-sm-1 centered">
        <i class="fa fa-heart"></i>
      </div>
      <div class="col-sm-11">
        <h3>Δεξιώσεις</h3>
        <p>Η ομορφιά του φυσικού περιβάλλοντος σε συνδυασμό με τη λειτουργικότητα του χώρου, τις σύγχρονες ανέσεις και υπηρεσίες, μπορούν να απογειώσουν κάθε είδους event.
        Ο Ζέφυρος διαθέτει εξωτερικούς αλλά και εσωτερικούς χώρους και άνετο parking. Επίσης προσφέρει υπηρεσίες catering εκλεκτής ποιότητας, από Ελληνική και Διεθνή κουζίνα, το οποίο λειτουργεί και outdoor.
        Η μοναδική διακόσμηση, οι φοίνικες , το beach bar και ένα υπέροχο ηλιοβασίλεμα είναι μερικά εκτός των άλλων από τα χαρακτηριστικά που εντυπωσιάζουν τους καλεσμένους κάθε δεξίωσης που πραγματοποιείται στο Ζέφυρο.
        Επισκεφθείτε μας οποιαδήποτε ώρα και αφήστε σε εμάς όλες τις λεπτομέρειες που θα συνθέσουν την τέλεια δεξίωση.</p>
      </div>

    </div><!-- row -->
  </div><!-- container -->
</div><!-- services section -->
