<!-- WELCOME SECTION -->
  <div class="container">
    <div class="row mt">
      <div class="col-lg-8">
        <h1>We build websites & apps that people love!</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
      <div class="col-lg-4">
        <p class="pull-right"><br><button type="button" class="btn btn-green">Start Your Project Now</button></p>
      </div>
    </div><!-- /row -->
  </div><!-- /.container -->
