<!-- WELCOME SECTION -->
  <div class="container">
    <div class="row mt">
      <div class="col-lg-8">
        <div class="h1">Ζέφυρος</div>
        <p>Ο δυτικός άνεμος, γιος του Αστραίου και της Ιούς...</p>
        <p>
          Το 1990, ο Ζέφυρος μας έφερε στον κόλπο Βολέρι στη Νέα Αρτάκη,
          ένα έρημο τότε αλλά πλούσιο σε φυσική ομορφιά τοπίο. Ένα σημείο που συνδυάζει το πράσινο με το γαλάζιο της θάλασσας.
        </p>
        <p>
          Εδώ, όλα αυτά τα χρόνια, αποκτήσαμε πολλούς φίλους που αγαπάνε ό,τι κι εμείς. Tην ομορφιά του τοπίου, τον άπλετο χώρο και το καλό service.
        </p>
        <p>
          Εμείς θα συνεχίσουμε την προσπάθειά μας να ευχαριστήσουμε τους παλιούς και να αποκτήσουμε νέους φίλους.
        </p>
        <p>
          Γιατί στο Ζέφυρο είμαστε όλοι φίλοι...
        </p>
      </div>
    </div><!-- /row -->
  </div><!-- /.container -->
